/* src/LoginPage.css */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-start;   /* align items to the top instead of center */
  background: url("/public/Background.jpeg") no-repeat center center;
  background-size: cover;
  padding-top: 120px;  /* pushes the login box downwards */
}

